<html ng-app="testApp">

<head>
    <title>AngularJS API Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="Script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

</head>


<body ng-controller="testController" data-ng-init="getDrivers(2019)" ng-init="switch=true; switch1=false;">
    <nav class="navbar navbar-expand-sm bg-light">

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://brendansd3.github.io/main.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://brendansd3.github.io/main.html#!/CV">My CV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://brendansd3.github.io/react-tutorial/">React</a>
            </li>
            <li class="nav-item">
                <a class="active nav-link" href="">Angular JS API calls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Python (Coming Soon!) </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">PHP (Coming Soon!)</a>
            </li>

        </ul>

    </nav>
    <div class="container">
        <h2>Choose a season </h2>
        <!--  <button ng-click="getDrivers(2019); change1(); switch=true; switch1=false;" class="btn btn-primary">Drivers Standings 2019 </button> -->

        <label for="Driver">Driver Standings </label>
        <select id="Driver" ng-model="selectedYear" ng-change="getDrivers(selectedYear); switch=true; switch1=false;" ng-options="x for x in years">
            <option value="" disabled> Choose a Season </option>
        </select>
        <br>
        <label for="Constructor">Constructor information </label>
        <select ng-model="ConstselectedYear" ng-change="getConstructors(ConstselectedYear);switch=false; switch1=true;" ng-options="x for x in years">
            <option value="" disabled> Choose a Season </option>        
        </select>
        <!--    <select ng-model="selectyear" ng-click="getDrivers(value)">
            <option value="2019">Drivers Standings 2019</option>
            <option value="2018">Drivers Standings 2018</option>
            <option value="2017">Drivers Standings 2017</option>
        </select> -->
        <!--      <button ng-click="getDrivers(2018);change(); switch=true; switch1=false;" class="btn btn-primary">Drivers Standings 2018 </button>
        <br>
        <br>
        <button ng-click="getConstructors(1998);switch=false; switch1=true;" class="btn btn-primary">View Constructors for 1998 </button> -->
    </div>
    <div class="container" ng-hide="switch1" id="drivers">
        <h2 id="season">Drivers Standings in Season: {{ year }}</h2>

        <table class="table table-hover table-bordered">
            <thead>
                <th>Position</th>
                <th>Full Name</th>
                <th>Team </th>
                <th>Points </th>
            </thead>
            <tbody>
                <tr ng-repeat="driver in driversList">
                    <td>{{ driver.position }}</td>
                    <td>{{driver.Driver.givenName}} &nbsp;{{driver.Driver.familyName}}</td>
                    <td>{{ driver.Constructors[0].name}}</td>
                    <td>{{ driver.points }}</td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="container" ng-hide="switch" id="constructors">

        <h2 id="season">Constructors in Season: {{ year }}</h2>

        <table class="table table-hover table-bordered">
            <thead>
                <th>Position</th>
                <th>Constructor Name</th>
                <th>Nationality</th>
                <th>Points</th>
                <th>Image</th>
            </thead>
            <tbody>
                <tr ng-repeat="constructor in constructorsList">
                    <td>{{ constructor.position }}</td>
                    <td ng-click="showImage({{constructor.Constructor.constructorId}})" ng-mouseleave="hideImage()">{{ constructor.Constructor.name }}

                    </td>
                    <td>{{ constructor.Constructor.nationality}}</td>
                    <td>{{ constructor.points }}</td>
                    <td><img src="images/{{constructor.Constructor.name}}.jpg" style="width:150px; height:200px;" /></td>

                </tr>
            </tbody>
        </table>
    </div>

</body>